# Dependencies
node_modules/
/.pnp
.pnp.js
.venv
venv/

# Testing
/coverage

# Build outputs
/.next/
/out/
/build/
/dist/
.astro/

# Environment files
.env
.env.development
.env.local
.env.*.local
.env.test
.env.production
.env.keys

# Debug logs
logs/
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE/Editor
.idea/
.vscode/
*.iml
*.iws
*.ipr
.history/

# OS
.DS_Store
*.pem

# Package managers
package-lock.json
yarn.lock
.pnp.cjs
.pnp.loader.mjs
.yarn/
.yarnrc.yml

# Misc
.vercel
*.tsbuildinfo
next-env.d.ts
.favorites.json
*storybook.log
mise.toml
.turbo

# Storage
storage/privkeys/*

# Python
__pycache__/
*.py[cod]
*.so

# Supabase
.branches
.temp

# Admin App
apps/admin/dist/
apps/admin/.astro
apps/admin/node_modules/
apps/admin/npm-debug.log*
apps/admin/pnpm-debug.log*
apps/admin/.env
apps/admin/.env.production
apps/admin/.DS_Store
apps/admin/.idea/
apps/admin/.turbo/

# Docs App
apps/docs/dist/
apps/docs/.astro
apps/docs/node_modules/
apps/docs/npm-debug.log*
apps/docs/pnpm-debug.log*
apps/docs/.env
apps/docs/.env.production
apps/docs/.DS_Store
apps/docs/.idea/
apps/docs/.turbo/

# Web App
apps/web/dist/
apps/web/.astro
apps/web/node_modules/
apps/web/npm-debug.log*
apps/web/pnpm-debug.log*
apps/web/.env
apps/web/.env.production
apps/web/.DS_Store
apps/web/.idea/
apps/web/.turbo/

# CrewAI
apps/crewai/development/.env
apps/crewai/development/.DS_Store
apps/crewai/development/__pycache__/
apps/crewai/development/output.log

# Backend
packages/backend/dist/
packages/backend/.turbo/
packages/backend/node_modules/
packages/backend/npm-debug.log*
packages/backend/pnpm-debug.log*
packages/backend/.env
packages/backend/.env.production
packages/backend/.DS_Store

# Testing
packages/testing/dist/
packages/testing/.turbo/
packages/testing/node_modules/
packages/testing/npm-debug.log*
packages/testing/pnpm-debug.log*
packages/testing/.env
packages/testing/.env.production

# Temporal
apps/temporal/__pycache__/
apps/temporal/venv/
apps/temporal/.venv/
apps/temporal/*.pyc
apps/temporal/.env
apps/temporal/.DS_Store

# CrewAI
apps/crewai/development/.output.log
apps/crewai/development/.venv/
apps/crewai/development/__pycache__/